.khan__buy-link_text {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-align: center;
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
}
